{% extends "admin_base.html" %}
{% block content %}

<div class="max-w-md mx-auto bg-white p-6 rounded-xl shadow mt-10">
    <h2 class="text-xl font-bold mb-4">Add Highlight</h2>

    <form method="POST" enctype="multipart/form-data">
        <input type="file" name="video" accept="video/*" required
            class="w-full mb-4 border p-2 rounded">

        <button class="w-full bg-blue-500 text-white py-2 rounded">
            Upload Highlight
        </button>
    </form>
</div>

{% endblock %}
