{% extends 'admin_base.html' %}
{% block content %}
<div class="bg-gray-100 p-10 font-poppins font-normal">

    <div class="max-w-6xl mx-auto bg-white shadow-xl rounded-xl p-8">

        <h2 class="text-3xl font-bold text-gray-800 mb-6">Manage Products</h2>

        <a href="/add_product" class="bg-blue-600 text-white px-5 py-2 rounded-lg hover:bg-blue-700">+ Add Product</a>

        <div class="grid grid-cols-1 md:grid-cols-3 gap-8 mt-8">
            {% for p in products %}
            <div class="border rounded-xl p-4 shadow relative bg-white">
                <p class="text-black text-sm p-2">Product ID: {{ p.id }}</p>
                <img loading="lazy" src="{{ p.image_url }}" class="w-full h-56 object-cover rounded-lg">

                <h3 class="font-semibold text-xl mt-3">{{ p.name }}</h3>
                <p class="text-gray-600 capitalize">{{ p.category }} care</p>
                <p class="font-bold mt-1">₹{{ p.price }}</p>

                <div class="flex gap-3 mt-4">
                    <a href="/edit_product/{{ p.id }}"
                        class="bg-yellow-500 text-white px-4 py-2 rounded-lg hover:bg-yellow-600">Edit</a>

                    <a href="/delete_product/{{ p.id }}"
                        onclick="return confirm('Are you sure you want to delete this product?');"
                        class="bg-red-600 text-white px-4 py-2 rounded-lg hover:bg-red-700">Delete</a>
                </div>

            </div>
            {% endfor %}
        </div>

    </div>

</div>
{% endblock %}